 body {
font-family:serif;
max-width:90%;
background-color:#fefeff;
counter-reset: fungi 24 fungi2 43 fungi3 73;
}

a {
color: #226;
text-decoration:none;
}

hr{
height:0;
max-height: 0;
display: block;
padding: 0;
margin-left: 4px ;
margin-right: 4px ;
width: 90%;
border: none;
border-top: 1px solid #777;
border-bottom: 1px solid #fff;
font-size: 1px;

}

.topbar {
background-color:#222;
width:100%;
position:fixed;
padding-left:30px;
margin-left: -20px;
margin-top: -12px;
font-size: 110%;
color: #997;
text-shadow: 0 1px 0 #EEFA41;
z-index:4;
}

ul.nav {
padding:0;
margin-right:28px;
display:inline;
float:right;
margin-top:-20px;
}

ul.nav li {
list-style-type:none;
display:inline;
padding:6px;
font-family:sans;
text-shadow: none;
}
ul.nav li a  { 
color:#E8B43F;
padding:6px;
}
ul.nav li a:hover {
color:#9D4A17;
}

.container{
width:80%;
padding-top: 85px;
margin:0px auto;
}


.banner {
border:ridge #543 3px;
margin:12px auto;
width:300px;height:75px;
-webkit-box-shadow:2px 2px 3px 1px #230;
-moz-box-shadow:2px 2px 3px 1px #230;
box-shadow:2px 2px 3px 1px #230;
}

h1.pagetitle, h2.pagetitle {
color:#dfE;
margin-top:-95px;
margin-left:18px;
text-shadow:2px 3px #230;
}


.pageimage img{
border:ridge #543 3px;
margin:12px auto;
-webkit-box-shadow:2px 2px 3px 1px #230;
-moz-box-shadow:2px 2px 3px 1px #230;
box-shadow:2px 2px 3px 1px #230;
}

ul.entries  {
list-style-type: none;
font-weight:bold;
}
.entries li img {
margin-left:4px;
}
.entries h3 {
color: #7F2121;
text-shadow: 1px 1px #a85;
margin-top:-8px;
}

.content {
width:70%;
font-family:serif;
margin:0 auto;
}

.container img {
border:ridge #543 3px;
-webkit-box-shadow:2px 2px 3px 1px #230;
-moz-box-shadow:2px 2px 3px 1px #230;
box-shadow:2px 2px 3px 1px #230;
margin: 5px 
}

.repeatscontent {
margin:0 auto;
}

.content img, .repeatscontent img {
margin-left:10px;
margin-bottom:6px;
}

.fungus li {
counter-increment:fungi;
list-style: none;
}
.fungus li:before {
content:counter(fungi)"";
}

.fungus2 ol {
counter-reset: fungi2 19;
}
.fungus2 li {
counter-increment:fungi2;
list-style: none;
}
.fungus2 li:before {
content:counter(fungi2)"";
}

.fungus3 ol {
counter-reset: fungi3 19;
}
.fungus3 li {
counter-increment:fungi3;
list-style: none;
}
.fungus3 li:before {
content:counter(fungi3)"";
}
a:hover, h3.sidebar:hover {
background-color: #6ac; 
color:#A1361D
}

.sitemap li {
font-size:80%
}
ul.entries a:hover, ul.entries a:hover h3{
color:#489;
text-shadow: 1px 1px #422;
background-color:#feffff;
}
