body {
font-family:serif;
background-color:#F0F3D3;
counter-reset:fungi 24 fungi2 43 fungi3 74;
}

a {
color:maroon;
text-decoration:underline;
}

hr {
height:0;
max-height:0;
display:block;
width:70%;
border:none;
border-top:.1em solid #777;
border-bottom:.1em solid #fff;
font-size:.1em;
}

.topbar {
background-color:#444;
width:100%;
position:fixed;
margin-left:-2%;
margin-top:-2.2em;
font-size:1.3em;
color:#997;
text-shadow:0 .1em 0 #EEFA41;
z-index:4;
padding:0.6em 0.8em 0.8em 1em;
} 
ul.nav {
margin-right:1.5em;
display:inline;
float:right;
margin-top:-0.8em;
}

ul.nav li {
list-style-type:none;
display:inline;
font-family:sans;
text-shadow:none;
}

ul.nav li a {
color:#E8B43F;
padding:.2em;
}

ul.nav li a:hover {
background-color:#F0F3D3;
}

.container {
width:95%;
margin:2% 2% 2% -2%;
padding:4%;
}

h1.pagetitle,h2.pagetitle {
color:#dfE;
margin-top:1.6em;
padding-top:0.8em;
padding-left:1.4em;
text-shadow:.15em .2em #230;
background-image:url(/img/greyspoons.png);
width:460px;
height:115px;
background-repeat:no-repeat;
margin-left:-2%;
}

.pageimage img {
border:ridge #543 0.2em;
box-shadow:.15em .15em .2em .1em #230;
}

.index{
text-align:center;
font-variant:small-caps;
margin-left:-.3em;
float:left; list-style:none;
}
 ul.entries{
font-variant:normal;
float:left; 
list-style:none;
text-align:center;
}
ul.entries img{ 
border:ridge #543 0.2em;
box-shadow:.15em .15em .2em .1em #230;
}

li.entries {

}
.index li, .content li {
list-style-type:none;
float:left;
text-shadow:0 .1em 0 gold;
}
.content li h4 {
margin-top:-.3em;
}
.index img {
z-index:-1;
}

.index h3 a {
color:maroon;

}

.index p {
margin:-2em 0 0 .15em;
opacity:.6;
z-index:4;
width:90%;
background-color:#dada92;
}

.blank {
border:0.1em;
width:250px;
height:187px;
}

.container img {
border:ridge #543 .2em;
box-shadow:.15em .15em .2em .1em #230;
margin:.3em;
}

.repeatscontent {
margin:0 auto;
}

.content img,.repeatscontent img {
margin-left:.3em;
margin-bottom:.3em;
}

.fungus li {
counter-increment:fungi;
list-style:none;
padding:.5em;
}

.fungus li:before {
content:counter(fungi)"";
}

.fungus2 ol {
counter-reset:fungi2 19;
}

.fungus2 li {
counter-increment:fungi2;
list-style:none;
}

.fungus2 li:before {
content:counter(fungi2)"";
}

.fungus3 ol {
counter-reset:fungi3 19;
}

.fungus3 li {
counter-increment:fungi3;
list-style:none;
}

.fungus3 li:before {
content:counter(fungi3)"";
}

a:hover,h3.sidebar:hover {
background-color:#dada97;
color:#A1361D;
}

.sitemap li {
font-size:80%;
}

.sidebar ul {
display:inline;
clear:both;
padding:.25em;
}
ul.entries a:hover {
color:#356B25;
}
ul.entries a:hover  img{
color:#8206AA;
box-shadow:.08em .04em #08AA06;

}
 
